
/**** base css elements ****/
body {
  background-color: #40637F; 
}

/**** text elements ****/

.quotebox {
  text-align: center;
  padding-top: 4.5%;
  font-size: 18px;  
}

.jumbotron {
  text-align: center;
  background-color: #6BA6D4;
  border-radius: 5%;
  font-family: 'Raleway', sans-serif;
  color: white;
}

/**** buttons ****/
#getMessage {
  margin-top: 2%;
  border: solid 2px;
}

.twitterBtn {
  text-align: center;
  margin-top: 12px;
}





